In [2]:
import pandas as pd


# Возьмем данные с титаника
path = 'titanic.csv'

data = pd.read_csv(path)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Задание 1: Вывести общее количество пассажиров в наборе данных.

amount_of_passengers = len(data)
amount_of_passengers

891

In [4]:
# Задание 2: Подсчитать количество выживших и погибших пассажиров.

survived = data[data["Survived"] == 1]
len(survived)

342

In [5]:
dead = data[data["Survived"] == 0]
len(dead)

549

In [6]:
# Более предпочтительно
survived_count = data['Survived'].value_counts()
survived_count

Survived
0    549
1    342
Name: count, dtype: int64

In [7]:
# Проверка
len(survived) + len(dead) == len(data)

True

In [8]:
# Задание 3: Найти средний возраст пассажиров.

mean_age = data["Age"].mean().round()
mean_age

30.0

In [9]:
# Задание 4: Определить долю мужчин и женщин среди пассажиров.

women = len(data[data["Sex"] == 'female']) / len(data) * 100
women

35.24130190796858

In [10]:
men = len(data[data["Sex"] == 'male']) / len(data) * 100
men

64.75869809203144

In [11]:
# Более предпочтительно
gender_ratio = data['Sex'].value_counts(normalize=True)
gender_ratio

Sex
male      0.647587
female    0.352413
Name: proportion, dtype: float64

In [12]:
# Проверка
round(women + men) == 100

True

In [13]:
# Задание 5: Найти самую высокую и самую низкую стоимость билета.

highest_price = data["Fare"].max()
lowest_price = data["Fare"].min()
highest_price, lowest_price

(512.3292, 0.0)

In [14]:
# Задание 6: Подсчитать количество пассажиров в каждом классе.

passengers_per_class = data["Pclass"].value_counts().sort_index()
passengers_per_class

Pclass
1    216
2    184
3    491
Name: count, dtype: int64

In [15]:
# Задание 7: Найти средний возраст пассажиров для каждого класса.

mean_age_per_class = data.groupby("Pclass")["Age"].mean()
mean_age_per_class

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [16]:
# Задание 8: Создать новый столбец Возрастная_группа, разделив пассажиров на возрастные группы.

def make_groups(age):
    if age < 18:
        return "Дети"
    elif age < 60:
        return "Взрослые"
    else:
        return "Пожилые"


data["Возрастная_группа"] = data["Age"].apply(make_groups)
data['Возрастная_группа'].value_counts()

Возрастная_группа
Взрослые    575
Пожилые     203
Дети        113
Name: count, dtype: int64

In [17]:
# Задание 9: Найти среднюю выживаемость пассажиров в зависимости от пола и класса.

survival_rate_by_sex_class = data.groupby(["Sex", "Pclass"])["Survived"].mean()
survival_rate_by_sex_class

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: Survived, dtype: float64

In [18]:
# Задание 10: Определить самое популярное женское имя среди пассажиров.

def extract_first_name(fullname):
    return fullname.split(',')[1].split('.')[1].strip()


female_first_names = data[data["Sex"] == 'female']["Name"].apply(extract_first_name)
most_popular_female_names = female_first_names.value_counts()
most_popular_female_names

Name
Mary                        6
Bertha                      4
Anna Sofia                  3
Anna                        3
Kate                        2
                           ..
Emily Borie                 1
William (Anna Sylfven)      1
Helmina Josefina            1
Sinai (Miriam Sternin)      1
Catherine Helen "Carrie"    1
Name: count, Length: 295, dtype: int64

In [19]:
most_popular_female_name = most_popular_female_names.idxmax()
most_popular_female_name

'Mary'